

.x-icon-list{padding:10px;}
.x-icon-list li{display:inline-block;vertical-align:top;width:80px;height:100px;padding:10px 0;text-align:center;background:#f9f9f9;}
.x-icon-list li i,.x-icon-list li span{display:block;}